@use '../../assets/style/var.scss' as v;

.create-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 60%;

    .project-image {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        label {
            padding: 10px 30px;
            border-radius: 7px;
            border: 2px solid black;
            font-size: 16px;
            height: 100%;
            transition: all 0.1s ease-in-out;
            text-align: center;

            &:hover {
                transform: scale(1.1);
            }



        }

        .image-holder {
            width: 305px;
            height: 100px;
            background-color: v.$grey-bg;
            border: 2px solid v.$grey-text;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }


        }

    }





    input {
        padding: 10px 30px;
        border-radius: 7px;
        border: 2px solid black;
        font-size: 16px;
        width: 100%;
        transition: all 0.1s ease-in-out;
        text-align: center;

        &[type=file] {
            display: none;
        }

        &:focus {
            background-color: #007bff05;
            transform: scale(1.02);
            outline: 7px ridge v.$yellow;
        }

    }

    .title {
        font-size: 30px;
        font-weight: 700;
    }




    textarea {
        padding: 10px 30px;
        border-radius: 7px;
        border: 2px solid black;
        font-size: 16px;
        width: 100%;
        transition: all 0.1s ease-in-out;
        text-align: center;

        &:focus {
            background-color: #007bff05;
            transform: scale(1.02);
            outline: 7px ridge v.$yellow;
        }

    }


    button {
        margin-top: 15px;
        font-size: 18px;
        padding: 10px 30px;
        width: 50%;
        transition: all 0.2s ease-in-out;
        background-color: v.$yellow;
        font-weight: 500;
        font-size: 20px;
    }

    button:hover {
        transform: scale(1.1);

    }
}