.donation-item-card {
    margin-top: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.donation-progress-bar {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}