nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;

}

nav a:hover {
    transform: scaleX(2);
}

.fundraise-btn {
    border: 3px solid white;
    padding: 3px 12px;
    border-radius: 10px;
}