@use '../../assets/style/var.scss' as v;

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .project-image-container {
        width: 110%;
        height: 500px;
        margin-bottom: 50px;
        overflow-x: hidden;

        display: flex;
        justify-content: center;

        img {
            border-radius: 10px;
            object-fit: cover;
            object-position: center center;
            width: inherit;
            height: inherit;
        }

    }



    .project-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 70px;

        .project-info {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 30px;

            h1 {
                text-transform: capitalize;
            }

        }

        div.donations {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 30px;

            .recent-donators-container {
                width: 100%;
            }

            div.project-donations-show-all {
                text-align: right;
                cursor: pointer;
            }

            .progress-bar {
                padding: 0;

                &-empty {
                    height: 12px;
                }

                .progress-bar-progress-amount {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    font-size: 18px;
                }

                span.progress-bar-percent {
                    margin-top: 10px;
                    justify-content: flex-end;
                    color: v.$grey-text;

                }
            }

            button {
                width: 100%;
                height: 45px;
                background-color: v.$yellow;
                color: v.$black;
                border: none;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1.5px;
                font-size: 18px;
            }
        }
    }
}